<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" matTooltip="Découvrez nos plans repas" routerLink="/planrepas">Plans repas</a>
        <a class="nav-item nav-link active" matTooltip="Ajouter un plan de repas à notre liste" routerLink="/ajouter">Ajouter un plan</a>
        <!-- 
            Dans ajouter, creer une modale pour ceci 
            (afficher un message de confirmation)

            pour delete creer une modale pour ceci 
            (afficher un message de confirmation)

            pour modifier creer une modale pour ceci 
            (afficher un message de confirmation)

            gestion des erreurs a faire si pas déjà implémenté
        --> 
      </div>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <div class="first">
      Bienvenue
    </div>
    <div class="second">
      <h1>
         Au service de livraison de kit repas 
      </h1>
    </div>
    
    <button mat-raised-button color="primary" class="btn btn-animate" routerLink="/planrepas">>Parcourir nos plans de repas<mat-icon>arrow_right</mat-icon></button>
  </div>
  <router-outlet></router-outlet>
  
</div>
