<div class="container">

  <h1>Nos plans repas</h1>
  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="headerCell">Numéro du plan</th>
      <th class="headerCell">Catégorie</th>
      <th class="headerCell">Fréquence</th>
      <th class="headerCell">Nombre de personnes</th>
      <th class="headerCell">Nombre de calories</th>
      <th class="headerCell">Numéro du fournisseur</th>
      <th class="headerCell">Prix</th>
      <th class="actionCell">ACTION</th>
    </thead>
    <tbody class = "containerBody">
      <tr class="contentInfo" *ngFor="let plan of planRepas">
        <td class="contentCell">{{ plan.numeroplan }}</td>
        <td class="contentCell">{{ plan.categorie }}</td>
        <td class="contentCell">{{ plan.frequence }}</td>
        <td class="contentCell">{{ plan.nbrpersonnes }}</td>
        <td class="contentCell">{{ plan.nbrcalories }}</td>
        <td class="contentCell">{{ plan.numerofournisseur }}</td>
        <td class="contentCell">{{ plan.prix }}</td>
        <td class="contentCell">
        <button type="button" class="submitbtn" (click)="UpdateDialog(plan)"><i class="fa fa-edit"></i></button>
        <button type="button" class="deletebtn" (click)="deleteDialog(plan)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
<button type="button" class="button-add" routerLink="/ajouter">+</button>
</div>
